@model List<DTOLayer.DTOs.Card.ResultCardDto>
@{
    ViewData["Title"] = "MyCards";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="col-lg-9">
    <h2 class="font-weight-400 admin-heading">Kredi Kartları Ve Banka Hesaplarım</h2>
    <!-- Credit or Debit Cards  -->
    <div class="bg-light shadow-sm rounded p-4">
        <h3 class="text-5 font-weight-400 mb-4">
           Kredi Kartlarım
        </h3>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="account-card account-card-primary text-white rounded p-3 mb-4 mb-lg-0">
                        <p id="cardNumber" class="text-4">@item.CardNumber</p>
                        <p class="d-flex align-items-center">
                            <span class="account-card-expire text-uppercase d-inline-block opacity-6 mr-2">
                                SKT<br>                               
                            </span> <span class="text-4 opacity-9">@item.ExpiryMonth/@item.ExpiryYear</span>
                        </p>
                        <p class="d-flex align-items-center m-0"><span id="holderName" class="text-uppercase font-weight-500">@item.HolderName</span>
                            @if (item.CardType == "Visa")
                            {
                                <img class="ml-auto" src="~/bank-template/images/visa.png" alt="visa" title="">
                            }
                            @if (item.CardType == "MasterCard")
                            {
                                <img class="ml-auto" src="~/bank-template/images/mastercard.png" alt="visa" title="">
                            }
                        </p>

                        <div class="account-card-overlay rounded">
                            <a href="#" id="BtnCardDetail" data-month="@item.ExpiryMonth" data-year="@item.ExpiryYear" data-cvv="@item.CardCvc" data-holder="@item.HolderName" data-cardnumber="@item.CardNumber" data-cardtype="@item.CardType" data-cardid="@item.CardId" class="text-light btn-link mx-2">
                                <span class="mr-1">
                            <i class="fas fa-edit"></i></span>Detay</a>
                            <a href="/User/DeleteCards/@item.CardId" class="text-light btn-link mx-2">
                            <span class="mr-1"><i class="fas fa-minus-circle"></i></span>Sil</a></div>
                    </div>
                </div>
            }
            
            
            <div class="col-12 col-sm-6 col-lg-4">
                <a href="#" id="BtnCardAdd" class="account-card-new d-flex align-items-center rounded h-100 p-3 mb-4 mb-lg-0">
                    <p class="w-100 text-center line-height-4 m-0">
                        <span class="text-3"><i class="fas fa-plus-circle"></i></span> <span class="d-block text-body text-3">Yeni Kart Ekle</span>
                    </p>
                </a>
            </div>
        </div>
    </div>
    <!-- Edit Card Details Modal -->
    <div id="edit-card-details" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-400">Kart Güncelle</h5>
                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body p-4">
                    <form  method="post">
                        <input name="CardType" id="CardType" type="hidden">
                        <input name="CardId" id="CardId" type="hidden">
                        <div class="form-group">
                            <label for="edircardNumber">Kart Numarası</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img id="cardlogo" class="ml-auto" src="~/bank-template/images/visa.png" alt="visa" title="">
                                    </span>
                                </div>
                                <input name="CardNumber" readonly id="UpdateCardNumber" type="text" class="form-control" data-bv-field="edircardNumber"  />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="expiryDate">SKT/MM</label>
                                    <input name="ExpiryMonth" readonly id="expiryMonth" type="text" class="form-control" data-bv-field="expiryDate" required="" placeholder="MM/YY">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="expiryDate">SKT/YY</label>
                                    <input name="ExpiryYear" readonly id="expiryYear" type="text" class="form-control" data-bv-field="expiryDate" required="" placeholder="MM/YY">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="editcvvNumber">CVV <span class="text-info ml-1" data-toggle="tooltip" data-original-title="Kartınızın arka yüzündeki 3 haneli rakam."><i class="fas fa-question-circle"></i></span></label>
                                    <input name="CardCvc" readonly id="editcvvNumber" type="text" class="form-control" data-bv-field="editcvvNumber" required="" placeholder="CVV (3 digits)">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editcardHolderName">Kart Sahibi</label>
                            <input type="text" name="HolderName" readonly class="form-control" id="UpdateHolderName" data-bv-field="editcardHolderName" required="" placeholder="Kart Sahibi">
                        </div>
                       @* <button class="btn btn-default btn-center btn-block">
                            <span class="bh"></span>
                            <span>Güncelle</span>
                        </button>*@
                        <a id="BtnUpdateCard" class="btn btn-default btn-center btn-block">Tamam</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Add New Card Details Modal
    ================================== -->

    <div id="add-new-card-details" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-400">Yeni Kart Ekle</h5>
                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body p-4">
                    <form method="post">                       
                        <div class="form-group">
                            <label for="cardType">Kart Tipi Seçin</label>
                            <select name="CardType" id="cardType" class="custom-select" required="">                               
                                <option>Visa</option>
                                <option>MasterCard</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="CardNumber1">Kart Numarası</label>
                           @* <input name="CardNumber" readonly type="text" class="form-control" id="cardNumber" />*@
                            <input name="CardNumber" id="cardNumber" type="text" class="form-control" data-bv-field="expiryDate" placeholder="CardNumber">
                        </div>
                        <div class="form-row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="expiryDate">SKT/MM</label>
                                    <input name="ExpiryMonth" readonly id="month" type="text" class="form-control" data-bv-field="expiryDate"   placeholder="MM">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="expiryDate">SKT/YY</label>
                                    <input name="ExpiryYear" readonly id="year" type="text" class="form-control" data-bv-field="expiryDate"   placeholder="YY">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="cvvNumber">CVV <span class="text-info ml-1" data-toggle="tooltip" data-original-title="Kartınızın arka yüzündeki 3 haneli rakam."><i class="fas fa-question-circle"></i></span></label>
                                    <input name="CardCvc" readonly id="cvvNumber" type="text" class="form-control" data-bv-field="cvvnumber" required="" value="" placeholder="CVV (3 rakam)">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardHolderName">Kart Sahibinin Adı</label>
                            <input name="HolderName"  type="text" readonly class="form-control" data-bv-field="cardholdername" id="cardHolderName" required="" value="" placeholder="Kart Sahibi">
                        </div>
                        <button class="btn btn-default btn-center btn-block">
                            <span class="bh"></span>
                            <span>Kart Ekle</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Credit or Debit Cards End -->
</div>

